<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--注解扫描-->
    <!--不扫描controller层-->
    <context:component-scan base-package="com.yh">
        <!--不扫描controller层-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--配置aop-->
    <aop:config>
        <!--配置切入点-->
        <aop:pointcut id="pt1" expression="execution(* *..*.*ServiceImpl.*(..))"/>
        <!--配置切面-->
        <aop:aspect id="logAdvice" ref="log">
            <!--配置前置通知以及和切入点的绑定-->
            <aop:before method="before" pointcut-ref="pt1"/>
            <!--后置通知-->
            <aop:after-returning method="afterReturning" pointcut-ref="pt1"/>
            <!--异常通知-->
            <aop:after-throwing method="afterThrowing" pointcut-ref="pt1"/>
            <!--最终通知-->
            <aop:after method="after" pointcut-ref="pt1"/>
            <!--环绕通知-->
            <!--<aop:around method="around" pointcut-ref="pt1"/>-->
        </aop:aspect>
    </aop:config>
</beans>